main {
    flex: 1;
}

main ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    list-style: none;

}

@media(max-width: 700px) {
    main ul {
        grid-template-columns: 1fr;    
    }

    main {
        width: 100%;
    }
}


